/*compass modules*/
@import "compass/reset";
@import "compass/css3";

/*Variables*/
$base-font-family: 'Helvetica Neue', Arial, sans-serif;
$header-font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$base-color: #AD9D88;
$text-color: #474747;

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
  line-height: 1.5;
  color: $text-color;
}

hr {
  max-width: 100px;
  border-color: $base-color;
  border-width: 2px;
}

hr .light {
  border-color: #fff;
}

a {
  color: $base-color;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus {
    color: darken($base-color, 30%);
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
  font-weight: 500;
}

/* main navigation*/
.navbar-default {
  font-family: $base-font-family;
  border-color: rgba(34, 34, 34, .05);
  background-color: #fff;
  padding-right: 20px;
  .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: $base-font-family;
    font-weight: 700;
    color: #6d6d6d;
    &:hover {
      color: $base-color;
    }
  }
  .nav > li > a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #6d6d6d;
    &:hover, &:focus {
      color: $base-color;
    }
  }
}

/*header content*/
.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  background-image: url(../images/header.jpg);
  background-position: center;
  @include background-size(cover);
  &-vacancies {
    background-image: url("../images/staff2.jpg");
  }
  &-menu {
    background-image: url("../images/menu2.jpg");
  }
  &-theme {
    background-image: url("../images/menu2.jpg");
  }
  &-contacts {
    background-image: url("../images/contact_header2.jpg");
  }
  &-gallery {
    background-image: url("../images/interior5.jpg");
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    h1 {
      font-weight: 700;
      text-shadow: 1px 1px 1px #3a3a3a;
    }
    img {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 150px;
    }
    .header-content-inner {
      margin: 0 auto;
      padding: 0 30px;
      p {
        margin: 0 auto;
        line-height: 1.5;
        max-width: 600px;
        color: rgba(255, 255, 255, .8)
      }
    }
  }
}

.main-header-contacts, .main-header-menu, .main-header-theme, .main-header-vacancies, .main-header-gallery {
  .header-content {
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }
    h3 {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

@media(min-width: 768px) {
  .main-header {
    height: 100%;
    overflow: hidden;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
      }
      img {
        margin-bottom: 30px;
        width: 250px;
      }
    }
  }
  .main-header-theme {
    height: 30%;
  }
}

/*Sections*/
.color-section {
  position: relative;
  text-align: center;
  color: $text-color;
  padding: 50px 30px;
  background-color: $base-color;
  z-index: 999;
  box-shadow: 1px 1px 15px rgba(0,0,0,.5);
  .section-content-container {
    background-color: #FFF;
    padding: 40px;
    background-image: url("../images/papar_texture_thumb08.jpg");
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  }
  hr {

  }
  h1 {
    font-size: 2rem;
  }
  a {
    color: $base-color;
    padding-right: 25px;
    &:hover {
      color: $text-color;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
    i {
    }
  }
  p {
    margin: 0 auto;
    max-width: 768px;
  }
}

.white-section {
  text-align: center;
  color: $text-color;
  padding: 90px 30px;
  @include background-size(cover);
  hr {
    border-color: $base-color;
  }
  .service-box i {
    color: $text-color;
    margin-top: 60px;
    &:hover {
      color: $base-color;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
  }
  h3 {
    font-size: 1.5rem;
    margin: 15px 0 5px 0;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    margin: 0 auto;
    max-width: 250px;
  }
}

.welcome {
  background-color: #FFF;
  background-image: url("../images/bg_white_section.jpg");
  background-position: center;
}

/*courses*/
.new-courses {
  color: $base-color;
  padding: 110px 30px;
  background-image: url("../images/menu3.jpg");
  @include background-size(cover);
  h1 {
    color: #FFF;
    font-size: 2rem;
  }
  .courses-block {
    margin-top: 30px;
    max-width: 400px;
  }
}

/*---------------*/
/***** Sarah *****/
/*---------------*/
.grid {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  border: 5px solid $base-color;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  max-width: 450px;
  background: $base-color;
  text-align: center;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  font-size: 1.25rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 700;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 80%;
}

figure.effect-sarah {
  background: $base-color;
}

figure.effect-sarah img {
  max-width: none;
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-sarah:hover img {
  opacity: 0.3;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-sarah figcaption {
  text-align: left;
}

figure.effect-sarah h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
}

figure.effect-sarah h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

figure.effect-sarah:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-sarah p {
  padding: 1em 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

figure.effect-sarah:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*photo boxes*/
.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: #AD9D88;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      .project-category,
      .project-name {
        padding: 0 15px;
        font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      }
    }
  }

}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media(min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.no-padding {
  padding: 0;
}

/******************************/
/******* CONTACT PAGE ********/
/****************************/

/*contact form*/
input {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #dddddd;

}

input:focus, textarea:focus {

}

.contact-form {
  text-align: center;
  padding: 50px 0 50px 0;
  background-color: #AD9D88;
  color: #FFFFFF;

}

.contact-form h1 {
  margin-bottom: 50px;
  font-size: 2rem;

}

.contact-form p {
  display: inline-block;
  padding-left: 20px;

}

.contact-form p input {
  margin: 10px 0;
  height: 40px;
  padding: 10px;
  color: #565656;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: solid 1px #dddddd;
  color: #565656;
  padding: 10px;

}

@media (min-width: 768px) {
  textarea {
    width: 600px;
  }

}

.wpcf7-form p:last-of-type {
  width: 150px;

}

.wpcf7-form p:last-of-type input {
  background-color: #FFFFFF;
  color: #AD9D88;
  padding: 0;

}

.wpcf7-form p:last-of-type input:hover {
  background-color: #ececec;
  color: #AD9D88;
  padding: 0;

}

.wpcf7-mail-sent-ok {
  border: 2px solid #FFFFFF;

}

/*contact-social form*/
.contacts-page-social {
  background-color: #1c1c1c;
  padding: 10px 0 10px 0;

}

.contacts-page-social a {
  padding-left: 12px;
  margin-left: 20px;
}

//page-vacancies
.vacancies-block .row {
  padding: 60px 30px;
  i {
    color: $base-color;
    &:hover {
      color: lighten($base-color, 10%);
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
  }
  h1 {
    margin-top: 30px;
    font-size: 1.5em;
    color: #555;
  }
  p {
    margin: 10px 0;
    padding: 0 20px;
  }
  .bg-content {
    background-color: #FFF;
    background-image: url("../images/papar_texture_thumb08.jpg");
    background-position: center;
    padding: 40px 20px;

  }
}

.vacancies {
  background-color: #FFF;
  background-image: url("../images/staff.jpg");
  background-position: center;
  padding: 20px;
  @include background-size(cover);

}

/*Footer*/

.footer {

  i {
    margin-top: 20px;
  }

  p {
    margin-top: 10px;
  }
  hr {
    border-color: $base-color;
  }
}

.light {
  border-color: #FFF;
}

#wpadminbar {
  top: 50px;
}

.carousel {
  width: 100%;
  .carousel-inner {

  }
}

//gallery page

.gallery-section {
  padding: 90px 0;
  background-image: url("../images/bg_gallery.jpg");
  background-position: center;
  @include background-size(cover);
  text-align: center;
  h3 {
    margin-top: 20px;
    font-size: 2rem;
    color: #FFF;
    font-weight: 500;
  }

}

//main page carousel
.carousel {
  .carousel-inner img {
    width: 100vw;
  }
}

//menu page
@media (min-width: 769px) {
  .menu-page {
    padding: 150px 0;
    background-image: url("../images/papar_texture_thumb08.jpg");
    .nav-menu {
      box-shadow: 1px 1px 15px rgba(0,0,0,.1);
      width: 220px;
      text-align: center;
      background-color: #fff;
      & > li > a {
        display: block;
        padding: 5px 10px;
        color: #FFF;
        background-color: lighten($base-color, 10%);
        &:hover {
          color: $base-color;
          background-color: lighten($base-color, 35%);

          border-left: 10px solid lighten($base-color, 10%);
        }
      }
    }
  }
  ul .children {
    margin: 15px 5px;
    li {
    }
    a {
      border: 1px solid rgba(255, 255, 255, .1);
      margin-bottom: -1px;
      display: block;
      padding: 5px 10px;
      border-bottom: 1px solid rgba(174, 158, 87, 0.3);
      background-color: #FFF;
      &:hover {
        color: $base-color;
        background-color: lighten($base-color, 35%);

        border-left: 10px solid lighten($base-color, 10%)
      }
    }
  }
}

  .menu-page {
    padding: 50px 0;
    background-image: url("../images/papar_texture_thumb08.jpg");
    .nav-menu {
      margin: 0 auto;
      max-width: 300px;
      text-align: center;
      background-color: #fff;
      & > li > a {
        display: block;
        padding: 5px 10px;
        color: #FFF;
        background-color: lighten($base-color, 10%);
        &:hover {
          color: $base-color;
          background-color: lighten($base-color, 35%);

          border-left: 10px solid lighten($base-color, 10%);
        }
      }
    }
  }
  ul .children {
    margin: 15px 5px;
    li {
    }
    a {
      border: 1px solid rgba(255, 255, 255, .1);
      margin-bottom: -1px;
      display: block;
      padding: 5px 10px;
      border-bottom: 1px solid rgba(174, 158, 87, 0.3);
      background-color: #FFF;
      &:hover {
        color: $base-color;
        background-color: lighten($base-color, 35%);

        border-left: 10px solid lighten($base-color, 10%)
      }
    }
  }

