/*compass modules*/
@import "compass/reset";
@import "compass/css3";

/*Variables*/
$base-font-family : 'Helvetica Neue', Arial, sans-serif;
$header-font-family : 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$base-color: #AD9D88;
$text-color: #7e7e7e;

html, body {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
  line-height: 1.5;
  color: $text-color;
}

hr {
  max-width: 100px;
  border-color: $base-color;
  border-width: 2px;
}

hr .light {
  border-color: #fff;
}

a {
  color: $base-color;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus {
    color: darken($base-color, 30%);
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
  font-weight: 500;
}
/* main navigation*/
.navbar-default {
  font-family: $base-font-family;
  border-color: rgba(34, 34, 34, .05);
  background-color: #fff;
  padding-right: 20px;
  .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: $base-font-family;
    font-weight: 700;
    color: #6d6d6d;
    &:hover {
      color: $base-color;
    }
  }
  .nav > li > a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #6d6d6d;
    &:hover, &:focus {
      color: $base-color;
    }
  }
}

/*header content*/
.main-header {
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 1.2;
  color: #fff;
  background-image: url(../images/header.jpg) ;
  background-position: center;
  @include background-size(cover);
  &-vacancies {
    background-image: url("../images/staff2.jpg");
  }
  &-menu {
    background-image: url("../images/menu2.jpg");
  }
  &-contacts {
    background-image: url("../images/contact_header.jpg");
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden
  }
  .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    h1 {
      font-weight: 700;
      text-shadow: 1px 1px 1px #3a3a3a;
    }
    img {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 150px;
    }
    .header-content-inner {
      margin: 0 auto;
      padding: 0 30px;
      p {
        margin: 0 auto;
        line-height: 1.5;
        max-width: 600px;
        color: rgba(255, 255, 255, .8)
      }
    }
  }
}
.main-header-contacts, .main-header-menu, .main-header-vacancies{
  .header-content {
    h1 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

@media(min-width: 768px) {
  .main-header {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      transform: translateY(-50%);
      .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
      }
      img {
        margin-bottom: 30px;
        width: 250px;
      }
    }
  }
}

/*Sections*/
.color-section {
  position: relative;
  text-align: center;
  color: $base-color;
  padding: 90px 30px;
  background-color: $base-color;
  z-index: 999;
  .section-content-container{
    background-color: #FFF;
    padding: 40px;
    background-image: url("../images/papar_texture_thumb08.jpg");
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  }
  hr {
    
  }
  h1 {
    font-size: 2rem;
  }
  a {
    color: $base-color;
    padding-right: 25px;
    &:hover{
      color: $text-color;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
    i {
    }
  }
  p {
    margin: 0 auto;
    max-width: 768px;
  }
}

.white-section {
  text-align: center;
  color: $text-color;
  padding: 90px 30px;
  @include background-size(cover);
  hr {
    border-color: $base-color;
  }
  .service-box i {
    color: $text-color;
    margin-top: 60px;
    &:hover {
      color: $base-color;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
    }
  }
  h3{
    font-size: 1.5rem;
    margin: 15px 0 5px 0;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    margin: 0 auto;
    max-width: 250px;
  }
}
.welcome {
  background-color: #FFF;
  background-image: url("../images/bg_white_section.jpg");
  background-position: center;
}
/*courses*/
.new-courses {
  color: $text-color;
  padding: 110px 30px;
  background-image: url("../images/menu3.jpg");
  @include background-size(cover);
  h1{
    color: #FFF;
    font-size: 2rem;
  }
  hr {

  }
  .courses-block {
    margin-top: 30px;
    .courses-box{
      margin-bottom: 20px;
      padding: 20px;
      max-width: 700px;
      min-height: 150px;
      width: 50%;
      background-color: rgba(0,0,0,.85);
      border-radius: 3px;
      color: $base-color;
      img {
        position: absolute;
        float: left;
        width: 30%;
        max-width: 200px;
      }
      h3 {
        font-size: 1.2rem;
        font-weight: 500;
      }
      .courses-info {
        margin-left: 220px;
        p {
          display: block;
          margin-top: 10px;
        }
        .course-weigth {
          font-size: .8rem;
          font-style: italic;
        }
        .course-price {
          padding-left: 20px;
          font-style: normal;
        }
        .course-description {
          display: inline;
          font-size: .9rem;
        }
      }
    }
  }
}

/*photo boxes*/
.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: #AD9D88;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    .portfolio-box-caption-content {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      .project-category,
      .project-name {
        padding: 0 15px;
        font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
      }
    }
  }

}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

@media(min-width:768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.no-padding {
  padding: 0;
}

/*Footer*/

.footer {
  color: #FFF;
  i {
    margin-top: 20px;
  }
  a {
    color: #FFF;
  }
  p {
    margin-top: 40px;
  }
}

.light {
  border-color: #FFF;
}

/******************************/
/******* CONTACT PAGE ********/
/****************************/

/*contact form*/
input {
  width: 100%;
  border-radius: 10px;
  border: solid 1px #dddddd;

}
input:focus, textarea:focus {

}
.contact-form {
  text-align: center;
  padding: 50px 0 50px 0;
  background-color: #AD9D88;
  color: #FFFFFF;

}
.contact-form h1 {
  margin-bottom: 50px;
  font-size: 2rem;

}
.contact-form p {
  display: inline-block;
  padding-left: 20px;

}
.contact-form p input {
  margin: 10px 0;
  height: 40px;
  padding: 10px;
  color: #565656;
}
textarea {
  margin-top:10px;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: solid 1px #dddddd;
  color: #565656;
  padding: 10px;

}
@media (min-width:768px){
  textarea {
    width: 600px;
  }

}
.wpcf7-form p:last-of-type {
  width: 150px;

}
.wpcf7-form p:last-of-type input {
  background-color: #FFFFFF;
  color: #AD9D88;
  padding: 0;

}
.wpcf7-form p:last-of-type input:hover {
  background-color: #ececec;
  color: #AD9D88;
  padding: 0;

}
.wpcf7-mail-sent-ok {
  border: 2px solid #FFFFFF;

}
/*contact-social form*/
.contacts-page-social {
  background-color: #1c1c1c;
  padding: 10px 0 10px 0;

}
.contacts-page-social a {
  padding-left: 12px;
  margin-left: 20px;
asdasdsa
}














